In [2]:
#import the libraries first
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matpotlib inline

UsageError: Line magic function `%matpotlib` not found.

In [3]:
df = pd.read_excel("flight_price.xlsx")
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df.shape

(10683, 11)

In [5]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [ ]:
#1. check missing values
#2. Change dtype of relevant columns
#3. Bifurcate the columns
#4. Data visualization after EDA in data

In [7]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [8]:
df["Date_of_Journey"]

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [ ]:
#let's change the d type and sort the data as well

In [9]:
df["Date_of_Journey"] = pd.to_datetime(df["Date_of_Journey"], infer_datetime_format=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 918.2+ KB

In [11]:
df["Date"] = df["Date_of_Journey"].dt.day
df["Date"]

0        24
1         1
2         9
3        12
4         1
         ..
10678     9
10679    27
10680    27
10681     1
10682     9
Name: Date, Length: 10683, dtype: int64

In [12]:
df["Month"] = df["Date_of_Journey"].dt.month
df["Year"] = df["Date_of_Journey"].dt.year

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  datetime64[ns]
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 1.1+ MB

In [14]:
#now remove the date of journey
df.drop("Date_of_Journey", axis = 1, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.1+ MB

In [16]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019

In [17]:
df["Dep_Time"].unique()

array(['22:20', '05:50', '09:25', '18:05', '16:50', '09:00', '18:55',
       '08:00', '08:55', '11:25', '09:45', '20:20', '11:40', '21:10',
       '17:15', '16:40', '08:45', '14:00', '20:15', '16:00', '14:10',
       '22:00', '04:00', '21:25', '21:50', '07:00', '07:05', '09:50',
       '14:35', '10:35', '15:05', '14:15', '06:45', '20:55', '11:10',
       '05:45', '19:00', '23:05', '11:00', '09:35', '21:15', '23:55',
       '19:45', '08:50', '15:40', '06:05', '15:00', '13:55', '05:55',
       '13:20', '05:05', '06:25', '17:30', '08:20', '19:55', '06:30',
       '14:05', '02:00', '09:40', '08:25', '20:25', '13:15', '02:15',
       '16:55', '20:45', '05:15', '19:50', '20:00', '06:10', '19:30',
       '04:45', '12:55', '18:15', '17:20', '15:25', '23:00', '12:00',
       '14:45', '11:50', '11:30', '14:40', '19:10', '06:00', '23:30',
       '07:35', '13:05', '12:30', '15:10', '12:50', '18:25', '16:30',
       '00:40', '06:50', '13:00', '19:15', '01:30', '17:00', '10:00',
       '19:35', '15:30', '12:10', '16:10', '20:35', '22:25', '21:05',
       '05:35', '05:10', '06:40', '15:15', '00:30', '08:30', '07:10',
       '05:30', '14:25', '05:25', '10:20', '17:45', '13:10', '22:10',
       '04:55', '17:50', '21:20', '06:20', '15:55', '20:30', '17:25',
       '09:30', '07:30', '02:35', '10:55', '17:10', '09:10', '18:45',
       '15:20', '22:50', '14:55', '14:20', '13:25', '22:15', '11:05',
       '16:15', '20:10', '06:55', '19:05', '07:55', '07:45', '10:10',
       '08:15', '11:35', '21:00', '17:55', '16:45', '18:20', '03:50',
       '08:35', '19:20', '20:05', '17:40', '04:40', '17:35', '09:55',
       '05:00', '18:00', '02:55', '20:40', '22:55', '22:40', '21:30',
       '08:10', '17:05', '07:25', '15:45', '09:15', '15:50', '11:45',
       '22:05', '18:35', '00:25', '19:40', '20:50', '22:45', '10:30',
       '23:25', '11:55', '10:45', '11:15', '12:20', '14:30', '07:15',
       '01:35', '18:40', '09:20', '21:55', '13:50', '01:40', '00:20',
       '04:15', '13:45', '18:30', '06:15', '02:05', '12:15', '13:30',
       '06:35', '10:05', '08:40', '03:05', '21:35', '16:35', '02:30',
       '16:25', '05:40', '15:35', '13:40', '07:20', '04:50', '12:45',
       '10:25', '12:05', '11:20', '21:40', '03:00'], dtype=object)

In [18]:
#lets split departure time into hours and minutes
df["Dept_Hours"] = df["Dep_Time"].str.split(":").str[0]
df["Dept_Mins"] = df["Dep_Time"].str.split(":").str[1]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
 13  Dept_Hours       10683 non-null  object
 14  Dept_Mins        10683 non-null  object
dtypes: int64(4), object(11)
memory usage: 1.2+ MB

In [20]:
df.drop("Dep_Time", axis = 1,inplace = True)
df.head(3)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,2019,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,09,25

In [21]:
df["Dept_Hours"] = df["Dept_Hours"].astype(int)
df["Dept_Mins"] = df["Dept_Mins"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Dept_Hours       10683 non-null  int32
 13  Dept_Mins        10683 non-null  int32
dtypes: int32(2), int64(4), object(8)
memory usage: 1.1+ MB

In [22]:
df[df.duplicated()]

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins
683,Jet Airways,Delhi,Cochin,DEL → NAG → BOM → COK,04:25 02 Jun,13h 50m,2 stops,No info,13376,1,6,2019,14,35
1061,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,19:15 22 May,21h 15m,2 stops,No info,10231,21,5,2019,22,0
1348,Air India,Delhi,Cochin,DEL → HYD → BOM → COK,19:15 19 May,26h,2 stops,No info,12392,18,5,2019,17,15
1418,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,04:25 07 Jun,22h 55m,2 stops,In-flight meal not included,10368,6,6,2019,5,30
1674,IndiGo,Banglore,New Delhi,BLR → DEL,21:20,2h 55m,non-stop,No info,7303,24,3,2019,18,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10594,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,12:35 28 Jun,13h 30m,2 stops,No info,12819,27,6,2019,23,5
10616,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,12:35 02 Jun,26h 55m,2 stops,No info,13014,1,6,2019,9,40
10634,Jet Airways,Delhi,Cochin,DEL → JAI → BOM → COK,12:35 07 Jun,26h 55m,2 stops,In-flight meal not included,11733,6,6,2019,9,40
10672,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150,27,6,2019,23,5
10673,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,04:25 28 May,15h,2 stops,No info,16704,27,5,2019,13,25

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Dept_Hours       10683 non-null  int32
 13  Dept_Mins        10683 non-null  int32
dtypes: int32(2), int64(4), object(8)
memory usage: 1.1+ MB

In [24]:
df["Arrival_Time"].unique()

array(['01:10 22 Mar', '13:15', '04:25 10 Jun', ..., '06:50 10 Mar',
       '00:05 19 Mar', '21:20 13 Mar'], dtype=object)

In [25]:
df["Arrival_Hours"] = df["Arrival_Time"].str.split(":").str[0]
df["Arrival_Mins"] = df["Arrival_Time"].str.split(":").str[1]
df.drop("Arrival_Time", axis = 1, inplace = True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dept_Hours       10683 non-null  int32
 12  Dept_Mins        10683 non-null  int32
 13  Arrival_Hours    10683 non-null  object
 14  Arrival_Mins     10683 non-null  object
dtypes: int32(2), int64(4), object(9)
memory usage: 1.1+ MB

In [27]:
df["Arrival_Mins"] = df["Arrival_Mins"].astype(int)

ValueError: invalid literal for int() with base 10: '10 22 Mar'

In [28]:
df["Arrival_Mins"].unique()

array(['10 22 Mar', '15', '25 10 Jun', '30', '35', '25', '25 13 Mar',
       '05 02 Mar', '00', '55', '20 10 May', '50', '15 04 Mar',
       '35 13 Jun', '15 13 Jun', '35 28 May', '20', '20 19 Mar',
       '15 07 May', '35 10 Jun', '35 02 Jun', '35 16 Jun', '45', '10',
       '00 19 May', '05 16 May', '00 28 Jun', '55 02 May', '10 28 Mar',
       '15 19 Jun', '45 04 Apr', '00 25 Mar', '30 07 May', '45 07 Mar',
       '25 04 Apr', '30 16 May', '15 13 Mar', '35 25 Jun', '05',
       '00 10 Jun', '40 07 May', '25 07 Mar', '25 07 Jun', '25 25 May',
       '40', '15 10 Jun', '25 25 Jun', '35 13 May', '25 19 May',
       '15 10 May', '00 25 May', '05 16 Mar', '05 13 May', '35 04 Mar',
       '05 07 May', '15 02 Mar', '10 22 May', '00 07 May', '25 16 Jun',
       '30 22 May', '15 28 Jun', '30 10 Apr', '45 07 Jun', '55 22 May',
       '35 22 May', '25 04 Jun', '40 04 Apr', '50 22 Mar', '15 25 May',
       '55 10 May', '35 28 Jun', '15 13 May', '25 02 May', '25 28 May',
       '25 28 Mar', '35 04 Apr', '20 07 May', '05 13 Jun', '30 04 Apr',
       '50 22 May', '25 02 Jun', '50 28 Mar', '40 13 Jun', '40 25 Mar',
       '35 28 Mar', '25 20 May', '15 07 Jun', '50 04 Mar', '20 28 Apr',
       '30 25 Mar', '35 02 May', '20 25 Apr', '15 02 Jun', '50 25 May',
       '15 22 Mar', '00 04 Jun', '35 22 Mar', '30 25 Jun', '55 13 Jun',
       '05 07 Mar', '05 02 May', '30 07 Jun', '25 10 Apr', '15 10 Mar',
       '50 13 Jun', '25 04 Mar', '00 07 Jun', '30 28 May', '20 13 Mar',
       '05 19 May', '40 07 Jun', '30 28 Jun', '30 13 Mar', '00 28 May',
       '05 25 May', '35 10 Apr', '15 10 Apr', '50 07 Jun', '45 10 Jun',
       '05 16 Jun', '20 02 Jun', '55 07 Mar', '45 25 Mar', '50 16 May',
       '35 25 Mar', '00 16 Mar', '35 07 Mar', '35 10 May', '00 02 Jun',
       '50 19 May', '35 07 Jun', '45 13 Mar', '35 04 Jun', '40 16 Jun',
       '40 22 May', '20 19 Apr', '15 19 May', '00 13 Jun', '25 22 May',
       '25 22 Mar', '10 25 Mar', '20 13 May', '35 19 May', '50 10 Mar',
       '20 13 Apr', '05 10 Apr', '25 02 Apr', '40 10 Jun', '15 25 Jun',
       '40 16 May', '50 02 Apr', '30 16 Jun', '40 13 May', '30 10 Jun',
       '25 23 Mar', '40 22 Apr', '35 02 Apr', '40 07 Mar', '20 16 May',
       '25 28 Jun', '05 10 May', '30 02 Jun', '10 19 May', '40 02 Jun',
       '40 02 Mar', '05 25 Mar', '25 11 May', '40 10 May', '15 07 Mar',
       '25 07 Apr', '40 16 Mar', '50 19 Mar', '00 02 May', '25 10 May',
       '00 16 Jun', '00 10 May', '45 28 Mar', '30 02 May', '40 13 Mar',
       '05 13 Mar', '40 19 May', '45 19 May', '15 28 Mar', '15 25 Mar',
       '45 16 May', '15 28 May', '55 25 Mar', '25 13 May', '30 10 May',
       '25 03 May', '20 25 Mar', '40 28 Apr', '20 10 Jun', '00 22 May',
       '25 07 May', '35 25 May', '00 07 Apr', '45 13 Jun', '45 22 May',
       '25 16 May', '00 07 Mar', '25 10 Mar', '20 25 May', '50 25 Mar',
       '15 22 May', '30 13 Jun', '40 28 Mar', '25 08 Mar', '00 28 Mar',
       '10 02 Mar', '15 16 Mar', '55 19 May', '45 02 Mar', '20 19 Jun',
       '45 03 Mar', '40 02 Apr', '00 16 May', '10 07 Mar', '50 13 May',
       '40 25 May', '35 10 Mar', '15 16 May', '40 25 Jun', '40 10 Mar',
       '50 16 Mar', '20 22 May', '25 05 Mar', '20 22 Jun', '45 07 May',
       '00 02 Mar', '25 13 Jun', '00 22 Apr', '45 25 May', '20 16 Mar',
       '55 07 May', '40 07 Apr', '55 19 Mar', '05 22 May', '20 28 May',
       '40 28 May', '00 13 May', '30 25 May', '05 25 Jun', '20 04 May',
       '20 02 May', '40 10 Apr', '20 07 Jun', '30 13 May', '45 02 May',
       '40 28 Jun', '10 28 Apr', '30 04 Jun', '30 19 May', '50 07 May',
       '10 16 Mar', '35 02 Mar', '35 19 Mar', '20 19 May', '55 16 May',
       '55 10 Jun', '50 07 Mar', '05 10 Jun', '05 07 Jun', '15 04 Jun',
       '20 04 Jun', '30 02 Mar', '45 16 Mar', '20 02 Apr', '45 19 Jun',
       '20 04 Mar', '05 28 Mar', '10 13 Mar', '05 04 Apr', '10 07 Jun',
       '20 07 Mar', '50 13 Mar', '15 16 Jun', '00 04 Apr', '15 02 May',
       '15 22 Apr', '25 26 May', '40 04 Jun', '45 02 Apr', '15 04 Apr',
       '55 02 Mar', '10 02 Jun', '10 10 Jun', '45 16 Apr', '30 16 Mar',
       '25 02 Mar', '00 25 Jun', '45 10 May', '40 19 Mar', '10 10 Mar',
       '25 26 Jun', '50 04 Jun', '10 02 Apr', '20 07 Apr', '05 25 Apr',
       '45 13 May', '25 19 Mar', '05 07 Apr', '00 22 Jun', '05 28 May',
       '10 25 May', '00 02 Apr', '10 19 Mar', '55 07 Jun', '05 19 Jun',
       '40 04 Mar', '10 07 May', '25 29 May', '05 02 Apr', '20 13 Jun',
       '55 02 Apr', '15 19 Apr', '20 10 Mar', '30 07 Mar', '40 02 May',
       '50 10 May', '20 02 Mar', '10 16 May', '50 22 Jun', '15 28 Apr',
       '05 22 Mar', '20 16 Apr', '40 04 May', '10 28 Jun', '55 25 May',
       '25 25 Mar', '25 16 Mar', '00 19 Mar', '40 22 Jun', '25 29 Jun',
       '05 13 Apr', '35 07 May', '20 25 Jun', '20 10 Apr', '20 04 Apr',
       '15 02 Apr', '50 22 Apr', '40 13 Apr', '55 28 Mar', '10 10 Apr',
       '55 13 May', '50 04 May', '50 02 Jun', '15 22 Jun', '55 13 Mar',
       '40 16 Apr', '50 02 May', '45 22 Mar', '45 04 May', '00 19 Jun',
       '50 10 Jun', '45 28 Apr', '00 04 May', '15 16 Apr', '05 04 May',
       '50 07 Apr', '05 22 Jun', '40 19 Jun', '40 19 Apr', '30 02 Apr',
       '40 25 Apr', '05 04 Jun', '45 08 Mar', '05 19 Apr', '25 19 Jun',
       '05 02 Jun', '15 13 Apr', '10 04 Mar', '00 16 Apr', '20 28 Jun',
       '15 19 Mar', '20 16 Jun', '10 16 Jun', '40 22 Mar', '50 28 Apr',
       '35 16 Mar', '25 22 Jun', '45 10 Mar', '45 13 Apr', '05 28 Apr',
       '25 29 Mar', '05 04 Mar', '55 04 Mar', '00 28 Apr', '55 16 Mar',
       '45 07 Apr', '05 28 Jun', '50 25 Apr', '10 02 May', '20 22 Mar',
       '45 22 Jun', '10 25 Apr', '20 22 Apr', '35 07 Apr', '05 16 Apr',
       '00 22 Mar', '35 16 May', '10 10 May', '00 19 Apr', '45 10 Apr',
       '50 16 Jun', '55 22 Mar', '45 04 Jun', '10 13 Jun', '50 16 Apr',
       '50 28 Jun', '00 13 Mar', '00 10 Apr', '45 02 Jun', '30 25 Apr',
       '20 28 Mar', '05 10 Mar', '45 28 Jun', '25 23 May', '10 13 May',
       '50 10 Apr', '50 13 Apr', '15 04 May', '25 04 May', '05 22 Apr',
       '45 22 Apr', '45 28 May', '50 02 Mar', '50 28 May', '50 25 Jun',
       '00 25 Apr', '30 07 Apr', '55 10 Mar', '45 19 Apr', '45 19 Mar',
       '00 10 Mar', '25 17 Jun', '50 08 Mar', '50 19 Jun', '35 28 Apr',
       '05 19 Mar'], dtype=object)

In [29]:
df["Arrival_Mins"] = df["Arrival_Mins"].str.split(" ").str[0]
df["Arrival_Mins"]

0        10
1        15
2        25
3        30
4        35
         ..
10678    25
10679    20
10680    20
10681    10
10682    15
Name: Arrival_Mins, Length: 10683, dtype: object

In [30]:
df["Arrival_Mins"] = df["Arrival_Mins"].astype(int)

In [32]:
df["Arrival_Hours"] = df["Arrival_Hours"].astype(int)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dept_Hours       10683 non-null  int32
 12  Dept_Mins        10683 non-null  int32
 13  Arrival_Hours    10683 non-null  int32
 14  Arrival_Mins     10683 non-null  int32
dtypes: int32(4), int64(4), object(7)
memory usage: 1.1+ MB

In [34]:
df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [36]:
df[df["Total_Stops"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,45,9,25

In [37]:
df["Total_Stops"].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [38]:
#now lets map
df["Total_Stops"] = df["Total_Stops"].map({"non-stop":0, "1 stop": 1, "2 stops":2,"3 stops":3,"4 stops":4 })

In [39]:
df["Total_Stops"].value_counts()

1.0    5625
0.0    3491
2.0    1520
3.0      45
4.0       1
Name: Total_Stops, dtype: int64

In [40]:
df[df["Total_Stops"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,45,9,25

In [44]:
mean_stops = df["Total_Stops"].mean()
df["Total_Stops"] = df["Total_Stops"].fillna(mean_stops)

In [45]:
df[df["Total_Stops"].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Dept_Hours, Dept_Mins, Arrival_Hours, Arrival_Mins]
Index: []

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10683 non-null  float64
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dept_Hours       10683 non-null  int32
 12  Dept_Mins        10683 non-null  int32
 13  Arrival_Hours    10683 non-null  int32
 14  Arrival_Mins     10683 non-null  int32
dtypes: float64(1), int32(4), int64(4), object(6)
memory usage: 1.1+ MB

In [47]:
df["Total_Stops"] = df["Total_Stops"].astype(int)
df["Total_Stops"].dtype

dtype('int32')

In [48]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25

In [49]:
df["Duration"].unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [50]:
df["Duration_Hours"] = df["Duration"].str.split("h").str[0]
df["Duration_Mins"] = df["Duration"].str.split("m").str[1]

In [51]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins,Duration_Hours,Duration_Mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,2,
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7,
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,19,NaN

In [52]:
df[df["Duration_Hours"].isnull()]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Dept_Hours, Dept_Mins, Arrival_Hours, Arrival_Mins, Duration_Hours, Duration_Mins]
Index: []

In [53]:
df[df["Duration_Mins"].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins,Duration_Hours,Duration_Mins
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,19,NaN
18,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,23h,2,No info,13381,12,6,2019,20,15,19,15,23,NaN
33,Jet Airways,Delhi,Cochin,DEL → NAG → BOM → COK,22h,2,In-flight meal not included,10919,15,6,2019,14,35,12,35,22,NaN
44,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,12h,1,No info,13062,21,3,2019,9,0,21,0,12,NaN
53,IndiGo,Banglore,Delhi,BLR → DEL,3h,0,No info,3943,18,6,2019,21,15,0,15,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10591,Jet Airways,Delhi,Cochin,DEL → ATQ → BOM → COK,23h,2,No info,14300,12,6,2019,20,0,19,0,23,NaN
10638,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,14h,1,In-flight meal not included,7832,21,3,2019,21,25,11,25,14,NaN
10639,Air India,Delhi,Cochin,DEL → RPR → NAG → BOM → COK,38h,3,No info,10493,3,6,2019,5,15,19,15,38,NaN
10673,Jet Airways,Delhi,Cochin,DEL → AMD → BOM → COK,15h,2,No info,16704,27,5,2019,13,25,4,25,15,NaN
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,0,No info,7229,27,4,2019,8,20,11,20,3,NaN

In [59]:
df[df["Duration_Hours"]== "5m"]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Dept_Hours, Dept_Mins, Arrival_Hours, Arrival_Mins, Duration_Hours, Duration_Mins]
Index: []

In [56]:
df["Duration_Hours"]== "5m"

0        False
1        False
2        False
3        False
4        False
         ...
10678    False
10679    False
10680    False
10681    False
10682    False
Name: Duration_Hours, Length: 10683, dtype: bool

In [57]:
df.drop(6474, axis = 0, inplace = True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Duration         10682 non-null  object
 5   Total_Stops      10682 non-null  int32
 6   Additional_Info  10682 non-null  object
 7   Price            10682 non-null  int64
 8   Date             10682 non-null  int64
 9   Month            10682 non-null  int64
 10  Year             10682 non-null  int64
 11  Dept_Hours       10682 non-null  int32
 12  Dept_Mins        10682 non-null  int32
 13  Arrival_Hours    10682 non-null  int32
 14  Arrival_Mins     10682 non-null  int32
 15  Duration_Hours   10682 non-null  object
 16  Duration_Mins    9651 non-null   object
dtypes: int32(5), int64(4), object(8)
memory usage: 1.3+ MB

In [60]:
df["Duration_Mins"] = df["Duration_Mins"].fillna(0)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Duration         10682 non-null  object
 5   Total_Stops      10682 non-null  int32
 6   Additional_Info  10682 non-null  object
 7   Price            10682 non-null  int64
 8   Date             10682 non-null  int64
 9   Month            10682 non-null  int64
 10  Year             10682 non-null  int64
 11  Dept_Hours       10682 non-null  int32
 12  Dept_Mins        10682 non-null  int32
 13  Arrival_Hours    10682 non-null  int32
 14  Arrival_Mins     10682 non-null  int32
 15  Duration_Hours   10682 non-null  object
 16  Duration_Mins    10682 non-null  object
dtypes: int32(5), int64(4), object(8)
memory usage: 1.3+ MB

In [63]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins,Duration_Hours,Duration_Mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,2,
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7,
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,19,0

In [64]:
df["Duration_Hours"] = df["Duration_Hours"].astype(int)

In [65]:
df["Duration_Mins"] = df["Duration_Mins"].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [69]:
df

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins,Duration_Hours,Duration_Mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,2,
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7,
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,5,
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,4,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,2h 30m,0,No info,4107,9,4,2019,19,55,22,25,2,
10679,Air India,Kolkata,Banglore,CCU → BLR,2h 35m,0,No info,4145,27,4,2019,20,45,23,20,2,
10680,Jet Airways,Banglore,Delhi,BLR → DEL,3h,0,No info,7229,27,4,2019,8,20,11,20,3,0
10681,Vistara,Banglore,New Delhi,BLR → DEL,2h 40m,0,No info,12648,1,3,2019,11,30,14,10,2,
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,8h 20m,2,No info,11753,9,5,2019,10,55,19,15,8,

In [70]:
df.drop("Duration_Mins", axis = 1, inplace = True)

In [71]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dept_Hours,Dept_Mins,Arrival_Hours,Arrival_Mins,Duration_Hours
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,22,20,1,10,2
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,5,50,13,15,7
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,9,25,4,25,19
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1,No info,6218,12,5,2019,18,5,23,30,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1,No info,13302,1,3,2019,16,50,21,35,4

In [72]:
df["Duration_Mins"] = df["Duration"].str.split("m").str[1]

In [74]:
df["Duration_Mins"].unique()

array(['', nan], dtype=object)

In [75]:
df.drop("Duration_Hours", axis = 1, inplace = True)

In [76]:
df.drop("Duration_Mins", axis = 1, inplace = True)

In [78]:
df["Duration_Hours"] = df["Duration"].str.split(" ").str[0].str.split("h").str[0]

In [85]:
df["Duration_Mins"] = df["Duration"].str.split(" ").str[1].str.split("m").str[1]

In [80]:
df[df["Duration_Hours"] == "5m"]

Empty DataFrame
Columns: [Airline, Source, Destination, Route, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Dept_Hours, Dept_Mins, Arrival_Hours, Arrival_Mins, Duration_Hours, Duration_Mins]
Index: []

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Duration         10682 non-null  object
 5   Total_Stops      10682 non-null  int32
 6   Additional_Info  10682 non-null  object
 7   Price            10682 non-null  int64
 8   Date             10682 non-null  int64
 9   Month            10682 non-null  int64
 10  Year             10682 non-null  int64
 11  Dept_Hours       10682 non-null  int32
 12  Dept_Mins        10682 non-null  int32
 13  Arrival_Hours    10682 non-null  int32
 14  Arrival_Mins     10682 non-null  int32
 15  Duration_Hours   10682 non-null  object
 16  Duration_Mins    10682 non-null  object
dtypes: int32(5), int64(4), object(8)
memory usage: 1.3+ MB

In [83]:
df["Duration_Hours"].unique()

array([ 2,  7, 19,  5,  4, 15, 21, 25, 13, 12, 26, 22, 23, 20, 10,  6, 11,
        8, 16,  3, 27,  1, 14,  9, 18, 17, 24, 30, 28, 29, 37, 34, 38, 35,
       36, 47, 33, 32, 31, 42, 39, 41, 40])

In [86]:
df["Duration_Mins"].unique()

array(['', nan], dtype=object)